.container {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 0;
  background-color: rgb(247, 139, 44);
}

.icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
