/* AttendanceStudent.module.css */
.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container h1, .container h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.welcome {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.box {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info {
  margin-top: 20px;
}

.attendance-buttons-container {
  display: flex;
}