.container {
  display: flex;
  height: 100vh;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure it takes full width */
  max-width: 500px; /* Set a max-width to center it */
  margin: auto; /* Center horizontally */
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 10px 5px rgba(128, 128, 128, 0.25);
  padding: 1rem;
}

.email-container {
  padding-bottom: 1rem;
}

.forgot-password {
  font-weight: bold;
  align-self: flex-end;
  cursor: pointer;
}